/* :root {
	--background-blue: #161618;
	--highlight-white: #e1e0e0;
	--sub-gray: #afaebd;
	--accent-blue: #212124;
  } */
  
  * {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
  }
  
/*   header {
	height: 12vh;
	width: 100vw;
	background-color: var(--accent-blue);
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
  }
  
  header h1 {
	font-family: sans-serif;
	font-size: 5rem;
  }
  
  header nav {
	width: 40vw;
	font-size: 4rem;
	font-family: sans-serif;
	display: flex;
	justify-content: space-between;
  }
  
  header nav a.current {
	color: var(--highlight-white);
  }
  
  header nav li {
	list-style: none;
  }
  

#add-dot {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 50;
} */

body {
	background-color: black;
	overflow: hidden;
	display: grid;
	height: 100vh;
	place-items: center;
}
